@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,300;0,400;0,600;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Monoton&family=Montserrat:wght@300;500&family=Poppins:wght@300&family=Roboto+Condensed&family=Roboto:wght@100;300&family=Shadows+Into+Light&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.meet_logo {
  font-family: 'Bangers', cursive;
  padding-top: 50px;
  letter-spacing: 5px;
  font-size: 100px;
}

.App {
  font-family: 'Plus Jakarta Sans', sans-serif !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  /* background: linear-gradient(45deg, rgb(9, 3, 128), rgb(1, 221, 245)); */
  background: linear-gradient(90deg, rgb(15, 13, 48), rgb(37, 30, 57));
  min-height: 100vh;
  color: whitesmoke;
}

.meet_logo {
  margin-bottom: 5rem;
}

.events_number_container {
  margin-bottom: 1rem;
}

.city {
  margin-bottom: 0.5rem;
}

.city,
.number_input {
  margin-top: 0.5rem;
  padding: 1rem;
  width: 20%;
  height: 2rem;
  border: 3px solid transparent;
  outline: none;
  border-radius: 0.4rem;
  /* box-shadow: rgba(235, 235, 235, 0.19) 0px 10px 20px,
    rgba(255, 255, 255, 0.23) 0px 6px 6px; */
}

.city:hover,
.number_input:hover {
  border: 3px solid rgb(255, 154, 12);
}

.EventList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 0.5rem;
  padding: 0.5rem;
  list-style: none;
  width: 75%;
  margin: auto;
}

.event-card {
  color: whitesmoke;
  min-height: 18rem;
  padding-top: 1.5rem;
  padding-bottom: 0.5rem;
  margin: 0.5rem;
  border-radius: 5rem;
  border-width: 4px;
  border-style: solid;
  border-image: linear-gradient(to right, rgb(15, 13, 48), rgb(37, 30, 57)) 1;
}

.event-card:hover {
  border-width: 4px;
  border-style: solid;
  border-image: linear-gradient(to right, rgb(139, 51, 0), rgb(237, 253, 57)) 1;
  transition: ease-in-out 0.5s;
}

.event-title {
  padding-bottom: 10px;
  color: rgb(197, 241, 0);
}

.event-description {
  padding: 10px;
  text-align: start;
}

.description-title {
  padding-top: 40px;
  padding-bottom: 15px;
}

.suggestion_element {
  padding-bottom: 5px;
  width: 25%;
  margin: auto;
  list-style: none;
}

.suggestion_element:hover {
  font-size: bold;
  color: rgb(197, 241, 0);
  text-decoration: underline;
  scale: 1.15;
  transition: ease-in-out 0.33s;
  cursor: pointer;
}

.btn {
  padding: 0.3rem;
  width: 50%;
  height: 30px;
  margin-top: 3rem;
  margin-bottom: 0.5rem;
  border: none;
  outline: none;
  color: rgb(42, 42, 42);
  background: rgb(89, 89, 89);
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  font-size: 1em;
  font-weight: 400;
}

.btn:before {
  content: '';
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.btn:active {
  color: rgb(79, 79, 79);
}

.btn:active:after {
  background: transparent;
}

.btn:hover:before {
  opacity: 1;
}

.btn:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgb(255, 254, 254);
  left: 0;
  top: 0;
  border-radius: 10px;
}

.all_cities_btn {
  font-size: small;
  width: 6rem;
  height: 1.7rem;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

@media only screen and (max-width: 760px) {
  .city,
  .number_input {
    width: 70%;
  }
}

@media only screen and (min-width: 760px) and (max-width: 959px) {
  .city,
  .number_input {
    width: 40%;
  }
}

.data-vis-wrapper {
  display: flex;
}
